<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/chentest2.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.firstdis.chentest4</string>
		<key>CFBundleShortVersionString</key>
		<string>2.7</string>
		<key>CFBundleVersion</key>
		<string>2</string>
		<key>SigningIdentity</key>
		<string>Apple Development: wei xiong (QB9H5ZSSU7)</string>
		<key>Team</key>
		<string>GSXUM7XCBA</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2022-03-18T07:34:33Z</date>
	<key>Name</key>
	<string>chentest2</string>
	<key>SchemeName</key>
	<string>chentest2</string>
</dict>
</plist>
